# Ignore the iisnode directory
iisnode/

# Ignore the node_modules directory
node_modules/

# Ignore logs directory and log files
logs/
*.log

# Ignore environment files
.env

# Ignore specific configuration file
config/swagger_options.js

# Ignore SonarQube configuration file
sonar-project.properties


# Ignore web.config file
web.config
